* {
outline: 0;
padding: 0;
margin: 0;
font-family: 'Atkinson Hyperlegible', sans-serif;
box-sizing: border-box;
}

/* Nav sections */

.nav-container {
  width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 80px;
	position: fixed;
	top: 0;
	transition: all 0.5s;
	z-index: 999;
}

.nav-container-left {
  text-align: center;
	padding: 10px;
	font-size: 32px;
	display: flex;
	align-items: center;
	font-style: italic;
	font-weight: bold;
}

.nav-logo {
  font-family: 'Yellowtail', cursive;
  font-size: 30px;
  font-weight: lighter;
  padding: 30px;


}

.nav-container-right {
  width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  padding-right: 50px;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 600px;
  position: fixed;
	z-index: 999;
  padding-top: 10px;
}

.nav-link {
  width: 200px;
  height: 60px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}



/* Home page */

.header-container {
  padding-top: 100px;
  background-repeat: no-repeat;
 	background-size: 100% auto;
  width: 100%;
	height: 950px;
  display: block;
  background-image: url('home-page-header-image2-2.jpg');
}

.header-content-container {
  padding: 300px:
}

.header-text {
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  margin-top: 25%;
  font-style:italic;
  color: #DEE2E6
}

.limited-banner {
  align-content: center;
  text-align: center;
  font-size: 40px;
}

.limited-container {
  width: 1000px;
  margin: 0 auto;
}

.limited-content-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding: 50px;
}

.limited-content-row {
  background-color: rgba(0, 0, 0, 0.1);
}

.limited-prints-content {
  padding: 50px;
}



.youtube-container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

.youtube-main-container {
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
}

.youtube-bottom-container {
  width: 100%;
  height: 200px;
}

.youtube-bottom-content-container {
  display: flex;
  flex-direction: row;
}

.youtube-bottom-content {
  width: 33.3%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.2);
}

.youtube-bottom-content-2 {
  background-color: rgba(0, 0, 0, 0.3);
  width: 33.3%;
  height: 200px;
}


.brands-container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

.brands-banner {
  align-content: center;
  text-align: center;
  font-size: 25px;
  padding: 30px;
}

.brands-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}

.brands-content-row > div {
  padding: 50px 0;
}

.bottom-section-container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

.bottom-section-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}

.bottom-section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-section-image {
  background-color: rgba(0, 0, 0, 0.4);
  width: 50%;
  height: 200px;
}

.bottom-section-content {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 200px;
  padding: 30px;
  text-align: right;
}

.bottom-section-content-2 {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 200px;
  padding: 30px;
  text-align: left;
}


/* Footer Section */

.footer-container {
  width: 1000px;
  height: 150px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.footer-content-container {
  display: flex;
  width: 80%;
  height: 150px;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 50px;
}


.footer-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-links > img {
  width: 25px;
  margin: 0 10px;
}

.footer-copyright-tag {
  padding-top: 10px;
}



/* Prints Page */

.special-prints-banner {
  align-content: center;
  text-align: center;
  font-size: 25px;
  padding: 30px;
}

.special-prints-container {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.special-prints-content-container {
  width: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20px;
}

.special-prints-content {
  padding: 50px;
  margin: 50px;
}

.prints-banner {
  align-content: center;
  text-align: center;
  font-size: 25px;
  padding: 30px;
}

.prints-container{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.prints-content-container {
  width: 45%;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20px;
}

.prints-content {
  padding: 50px;
  margin: 50px;
}
