* {
outline: 0;
padding: 0;
margin: 0;
font-family: 'Atkinson Hyperlegible', sans-serif;
box-sizing: border-box;
}

/* Nav sections */

.nav-container {
  width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 80px;
	position: fixed;
	top: 0;
	transition: all 0.5s;
	z-index: 999;
}

.nav-container-left {
  text-align: center;
	padding: 10px;
	font-size: 32px;
	display: flex;
	align-items: center;
	font-style: italic;
	font-weight: bold;
}

.nav-logo {
  font-family: 'Yellowtail', cursive;
  font-size: 30px;
  font-weight: lighter;
  padding: 30px;


}

.nav-container-right {
  width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  padding-right: 50px;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 600px;
  position: fixed;
	z-index: 999;
  padding-top: 10px;
}

.nav-link {
  width: 200px;
  height: 60px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}



/* Home page */

.header-container {
  padding-top: 100px;
  background-repeat: no-repeat;
 	background-size: 100% auto;
  width: 100%;
	height: 950px;
  display: block;
  background-image: url('home-page-header-image2-2.jpg');
}

.header-content-container {
  padding: 300px:
}

.header-text {
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  margin-top: 25%;
  font-style:italic;
  color: #DEE2E6
}

.limited-banner {
  align-content: center;
  text-align: center;
  font-size: 40px;
}

.limited-container {
  width: 800px;
  margin: 0 auto;
}

.limited-content-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding: 50px;
}



.brands-container {
  width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}

.brands-banner {
  align-content: center;
  text-align: center;
  font-size: 25px;
}

.brands-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;

}

.brands-content-row > div {

}

.bottom-section-container {
  width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}

.bottom-section-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}

.bottom-section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Footer Section */

.footer-image-container {
  width: 100%;
  background-image: url(home-page-header-image.jpg);
  background-size: cover;
  padding-top: 100px;
}

.footer-container {
  width: 800px;
  margin: 0 auto;
  padding-top: 100px;
  background-image: url(home-page-header-image.jpg);
  background-size: cover;
}

.footer-content-container {
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 50px;
}

.footer-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-media-links > img {
  width: 25px;
}
